html {
    height: 100%;
    width: 100%;
  }
  

.show {
  display: block;
}

.hide {
  display: none;
}

#statsDisplay {
 height: 30px;
 width: 30px;
 padding: 5px;
 border: 2px;
 margin-right: 10px;
}
