html {
    height: 100%;
    width: 100%;
  }
  

.show {
  display: block;
}

.hide {
  display: none;
}

.pBar {
  border: 1px solid black;
}

#statsDisplay {
  position: sticky;
  top: 0%;
  text-align: center;
  height: 100px;
  width: 100%;
  border: 1px solid black;
 }
