html {
    height: 100%;
    width: 100%;
  }
  

.show {
  display: block;
}

.hide {
  display: none;
}

.pBar {
  border: 1px solid rgb(40, 70, 40);
  width: 75%;
  height: 10px;
}

.pBarProgress {
  background-color: rgb(40, 180, 40);
  height: 100%;
  width: 0%;
  color: black;
  text-align: center;
}

#statsDisplay {
  position: sticky;
  top: 0%;
  text-align: center;
  height: 100px;
  width: 100%;
  border: 1px solid black;
 }
